In [1]:
import pandas as pd,numpy as np,matplotlib.pyplot as plt,seaborn as sns,warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df_hp = pd.read_csv(r"C:\Users\ADMIN\Documents\Data_Science\Data\House_price_train.csv")
df_hp.drop(['Id'],axis=1,inplace=True)

# FUNCTION

In [3]:
def Missing(df,features):
    for feature in features:
        print('{}: {:.1%} missing values'.format(feature,df[feature].isnull().mean()))

In [4]:
def Calculate(df,features):
    for feature in features:
        df[feature] = np.where(df[feature].isnull(),1,0)
        df.groupby(feature)['SalePrice'].median().plot.bar()
        plt.title(feature)

# DATA TYPES (Numerical & Categorical)

In [5]:
numerical = [feature_numerical for feature_numerical in df_hp.columns if df_hp[feature_numerical].dtype != 'O']
year = [feature for feature in numerical if 'Y' in feature]
discrete = [feature for feature in numerical if df_hp[feature].nunique()<25 and feature not in year]
continuous = [feature for feature in numerical if feature not in discrete + year]
categorical = [feature for feature in df_hp.columns if df_hp[feature].dtype=='O']

# MISSING VALUES of (Numerical & Categorical)

In [6]:
na_numerical = [name for name in numerical if df_hp[name].isnull().sum()>0]
na_categorical = [name for name in categorical if df_hp[name].isnull().sum()>0]

In [ ]:
Missing(df_hp,na_numerical)
Missing(df_hp,na_categorical)

# HIGH CARDINALITY

In [7]:
high_cardinality = [feature for feature in categorical if df_hp[feature].nunique()>8]
Calculate(df_hp,na_numerical)
Calculate(df_hp,na_categorical)

# ANALYSIS

In [8]:
for feature in year:
    if feature != 'YrSold':
        data = df_hp.copy()
        data[feature] = data['YrSold']-data[feature]
        plt.scatter(data[feature],data['SalePrice'])
        plt.xlabel(feature)
        plt.ylabel('Sale Price')

In [2]:
df_hp['YrSold'].astype(str)
df_hp.groupby('YrSold')['SalePrice'].median().plot()
plt.title('Prices sell of each year ')
plt.xlabel('Year')
plt.ylabel('Price House');

# Visualization (Discrete & Continuous)
+ Discrete (bar plot)
+ Continuos (histogram)

In [10]:
for featuree in discrete:
    data = df_hp.copy()
    data.groupby(featuree)['SalePrice'].median().plot.bar()
    plt.xlabel(featuree)
    plt.ylabel('House Prices')
    plt.show()

In [11]:
for feature in continuous:
    data = df_hp.copy()
    data[feature].hist(bins=30)
    plt.title(feature)
    plt.ylabel('Count')

# CATEGORICAL

In [14]:
for feature in categorical:
    data = df_hp.copy()
    data.groupby(feature)['SalePrice'].median().plot.bar()

# PRACTICE 1: Flight Price Prediction Dataset

In [16]:
train_df = pd.read_excel(r"C:\Users\ADMIN\Documents\Data_Science\Data\Train_set_airplane.xlsx")
test_df = pd.read_excel(r"C:\Users\ADMIN\Documents\Data_Science\Data\Test_set_airplane.xlsx")
final_df = train_df.append(test_df)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

TWO WAYS

In [17]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0].astype(int)
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1].astype(int)
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2].astype(int)
# final_df["Date"] = final_df['Date_of_Journey'].apply(lambda x:int(x.split("/")[0]))
# final_df["Month"]= final_df['Date_of_Journey'].apply(lambda x:int(x.split("/")[1]))
# final_df["Year"]= final_df['Date_of_Journey'].apply(lambda x:int(x.split("/")[2]))
final_df.drop(columns = 'Date_of_Journey',inplace=True)
final_df['Arrival_Time'] = final_df['Arrival_Time'].str.split(' ').str[0]
final_df['Arrival_Hour'] = final_df['Arrival_Time'].str.split(':').str[0].astype(int)
final_df['Arrival_Min'] = final_df['Arrival_Time'].str.split(':').str[1].astype(int)

# PRACTICE 2:

In [ ]:
df = pd.read_csv(r"C:\Users\ADMIN\Documents\Data_Science\Data\restaurant_zomato.csv",encoding='latin-1')
df_country = pd.read_excel(r"C:\Users\ADMIN\Documents\Data_Science\Data\Country-Code.xlsx")
final_df = pd.merge(df,df_country,on='Country Code',how='left')
country_info = final_df.Country.value_counts()
# sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')
# final_df.dtypes
ratings = final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index().rename(columns={0:'Rating Count'})
sns.barplot(x = "Aggregate rating", y ="Rating Count",hue='Rating color',data = ratings,palette=['blue','red','orange','yellow','green','green'])
sns.countplot(x='Rating color',data=ratings,palette=['blue','red','orange','yellow','green','green'])